In [1]:
# Import necessary packages
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("forest_fire.csv")
df.head(n=5)

   area  X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  id
0   0.1  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   1
1   0.1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   2
2   0.1  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   3
3   0.1  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   4
4   0.1  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   5

In [9]:
# Check missing value
df.isna().sum()

area     0
X        0
Y        0
month    0
day      0
FFMC     0
DMC      0
DC       0
ISI      0
temp     0
RH       0
wind     0
rain     0
id       0
dtype: int64